In [1]:
import pandas as pd
import numpy as np
from pathlib import Path
%matplotlib inline

import yfinance as yf
from pandas_datareader import data

Bad key "text.kerning_factor" on line 4 in
/Users/atefajmal/Desktop/anaconda3/envs/pyvizenv/lib/python3.7/site-packages/matplotlib/mpl-data/stylelib/_classic_test_patch.mplstyle.
You probably need to get an updated matplotlibrc file from
http://github.com/matplotlib/matplotlib/blob/master/matplotlibrc.template
or from the matplotlib source distribution

In [2]:
filepath = Path("ta_data.csv")
ta_df = pd.read_csv(filepath)
ta_df.head()

,Date,High,Low,Open,Close,Volume,Adj Close,volume_adi,volume_obv,volume_cmf,...,momentum_stoch,momentum_stoch_signal,momentum_wr,momentum_ao,momentum_kama,momentum_roc,others_dr,others_dlr,others_cr,nvi_ema
0,2015-10-05,28.250000,26.330000,26.99,28.150000,31012900,28.150000,2.778238e+07,31012900,0.895833,...,94.791647,94.791647,-5.208353,0.0,28.150000,0.0,3.517172,0.000000,0.000000,NaN
1,2015-10-06,28.400000,26.750000,28.16,27.620001,31294500,27.620001,2.948939e+07,-281600,0.473289,...,62.318894,78.555271,-37.681106,0.0,27.955291,0.0,-1.882767,-1.900716,-1.882767,NaN
2,2015-10-07,29.950001,28.010000,28.35,29.830000,34460700,29.830000,5.968688e+07,34179100,0.616803,...,96.685060,84.598534,-3.314940,0.0,28.302700,0.0,8.001445,7.697442,5.968030,NaN
3,2015-10-08,31.500000,29.030001,29.57,30.320000,36431800,30.320000,6.130933e+07,70610900,0.460281,...,77.176010,78.726655,-22.823990,0.0,28.672443,0.0,1.642641,1.629295,7.708704,NaN
4,2015-10-09,31.410000,30.280001,30.90,30.850000,27453600,30.850000,6.155229e+07,98064500,0.383137,...,87.427474,87.096181,-12.572526,0.0,29.045544,0.0,1.748023,1.732921,9.591477,NaN

In [3]:
ta_df = ta_df.set_index("Date", drop=True)

In [4]:
x=ta_df.momentum_rsi

In [5]:
x

Date
2015-10-05    100.000000
2015-10-06      0.000000
2015-10-07     81.786970
2015-10-08     84.762626
2015-10-09     87.198838
                 ...
2020-09-29     65.429886
2020-09-30     64.167232
2020-10-01     69.901148
2020-10-02     66.863407
2020-10-05     69.766482
Name: momentum_rsi, Length: 1260, dtype: float64

In [6]:
rsi_df = ta_df[['momentum_rsi']].copy()

In [7]:
rsi_df

            momentum_rsi
Date
2015-10-05    100.000000
2015-10-06      0.000000
2015-10-07     81.786970
2015-10-08     84.762626
2015-10-09     87.198838
...                  ...
2020-09-29     65.429886
2020-09-30     64.167232
2020-10-01     69.901148
2020-10-02     66.863407
2020-10-05     69.766482

[1260 rows x 1 columns]

In [8]:
trigger = 100

for index, row in rsi_df.iterrows():

    if trigger == 100:
        rsi_df.loc[index, "rsi_signal"] = "1"
    elif row["momentum_rsi"] < 30:
        rsi_df.loc[index, "rsi_signal"] = "1"
    elif row["momentum_rsi"] > 70:
        rsi_df.loc[index, "rsi_signal"] = "-1"
    else:
        rsi_df.loc[index, "rsi_signal"] = "0"

    trigger = row["momentum_rsi"]

rsi_df

            momentum_rsi rsi_signal
Date
2015-10-05    100.000000          1
2015-10-06      0.000000          1
2015-10-07     81.786970         -1
2015-10-08     84.762626         -1
2015-10-09     87.198838         -1
...                  ...        ...
2020-09-29     65.429886          0
2020-09-30     64.167232          0
2020-10-01     69.901148          0
2020-10-02     66.863407          0
2020-10-05     69.766482          0

[1260 rows x 2 columns]

In [9]:
df = rsi_df[['rsi_signal']].copy()

In [10]:
df

           rsi_signal
Date
2015-10-05          1
2015-10-06          1
2015-10-07         -1
2015-10-08         -1
2015-10-09         -1
...               ...
2020-09-29          0
2020-09-30          0
2020-10-01          0
2020-10-02          0
2020-10-05          0

[1260 rows x 1 columns]

In [11]:
df.to_csv("twtr_rsi_data.csv")

In [12]:
rsi_df.to_csv("check_rsi.csv")